body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

.top-right {
    text-align: right;
    padding: 10px;
    
}

header {
    color: gray;
    height: auto; 
    overflow: visible
}
nav {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #E5E5E3;
    color: black;
    font-weight: bold;
    text-decoration: none;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; 
    
  
}

.centered-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

nav ul {
    display: flex;
    gap: 70px;
}

nav ul li {
    list-style: none;
}

.logo img {
    
    object-fit: contain;
    width: 100px; 
    height: auto;
}
button img {
    width: 25px;
    height: 25px;
}

/* правила правила для станів посилань */
nav a:link, nav a:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover, nav a:active {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.account-container {
    display: flex;
}

.account-navigation, .account-details, .shipping-address {
    flex: 1;
}

.account-navigation {
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.account-details > div {
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.account-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
}

.account-navigation, .account-details, .shipping-address {
    flex: 1;
}

.account-navigation {
    flex: 0.3;
    background-color: #f0f0f0;
    padding: 20px;
    margin-right: 20px;
}

.account-navigation a:link, .account-navigation a:visited {
    color: blue;
    text-decoration: none;
}

.account-navigation a:hover, .account-navigation a:active {
    color: blue;
    text-decoration: none;
}

.account-details > div {
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.account-navigation ul li {
    margin-bottom: 20px;
}